# build & dependencies
dist/
node_modules/

# .env
.env
.prod.env
.production.env
# .conf
.conf
.prod.conf
.production.conf

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Caching
## astro
**/.astro/*

## terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tsvars

# cert files
key.pem
cert.pem

# volumes
.volume/

# macOS-specific files
.DS_Store